<a href="https://colab.research.google.com/github/MbuyiseloNtando/FreeCode-Camp/blob/main/Demographic_Data_Analyzer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/MbuyiseloNtando/FreeCode-Camp/main/adult.data%20(1).csv")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

How many people of each race are represented in this dataset?

In [5]:
df.race.value_counts()

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

What is the average age of men?

In [11]:
df[df.sex=='Male'].age.mean()

39.43354749885268

What is the percentage of people who have a Bachelor's degree?

In [16]:
(df[df.education=='Bachelors'].education.count() / df.education.count())*100

16.44605509658794

What percentage of people with advanced education earn more than $50k

In [64]:
df_adv = df[(df.education=='Bachelors') | (df.education=='Masters') | (df.education=='Doctorate')]

In [65]:
(df_adv[df_adv.salary=='>50K'].salary.count() / df[df.salary=='>50K'].salary.count())*100

44.45861497258003

What percentage of people without advanced education make more than 50K?

In [82]:
df_no_adv = df[(df.education!='Bachelors') & (df.education!='Masters') & (df.education!='Doctorate')]

In [88]:
(df_no_adv[df_no_adv.salary=='>50K'].salary.count() / df[df.salary=='>50K'].salary.count())*100

55.54138502741998

What is the minimum number of hours a person works per week?

In [90]:
df['hours-per-week'].min()

1

What percentage of the people who work the minimum number of hours per week have a salary of more than 50K

In [92]:
min_hr = df[df['hours-per-week']==1]

In [100]:
(min_hr[min_hr.salary=='>50K'].salary.count() / df[df.salary=='>50K'].salary.count())*100

0.025506950644050504

What country has the highest percentage of people that earn >50K and what is that percentage?

In [106]:
df_high = df[df.salary=='>50K']

In [119]:
(df_high[df_high['native-country']=='United-States'].salary.count() / df_high.salary.count())*100

91.45517153424308